<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MentorList</title>
</head>
<body>
<h2>Mentor List</h2>

<table>
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Gender</td>
    </tr>
    </thead>
    <tbody>
<!--    <tr>-->
<!--        <td>abdullah</td>-->
<!--        <td>Obul</td>-->
<!--        <td>3</td>-->
<!--        <td>Male</td>-->
<!--    </tr>-->
    <tr th:each="mentor : ${mentors}">
        <td th:text="${mentor.firstName}"></td>
        <td th:text="${mentor.lastName}"></td>
        <td th:text="${mentor.age}"></td>
        <td th:text="${mentor.gender}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>