<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Welcome New Student</h1>

<!--    displaying value-->
    <h2 th:text="${students.get(0).firstName}"></h2>
    <h2 th:text="${students.get(0).lastName}"></h2>

<!--    concatenation  -->
    <h2 th:text="${'Welcome ' + students.get(0).lastName}"></h2>

<!--    link   -->
<a th:href="@{https://google.com}">Company Home Page</a>
<br>
<a th:href="@{/student/welcome}">Company Welcome Page</a><br>

<!-- adding parameters to link  -->
<a th:href="@{/student/welcome/(id=2)}">Link2</a><br>
<a th:href="@{/student/welcome/(id=${students.get(1).firstName})}">Link3</a>


<!--    iteration   -->
<ul>
    <li th:each="student : ${students}" th:text="${student.firstName + ' ' + student.lastName}"></li>
</ul>

</body>
</html>